// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

// Colors
$clr1: #F5F0BB;
$clr2: #C4DFAA;
$clr3: #90C8AC;
$clr4: #73A9AD;
// $clr5: #e6e9ec;
// $clr6: #e6e9ec;
// $clr7: #696969;